body{
  background-color: rgb(255, 255, 255);
}

.bg-custom{
  background-color: rgb(252, 133, 133);
}

.bg-banner {
  background-image: url("assets/car.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center; /* Center the background image */
}

.my-custom{
  margin-top: 10%;
}

.my-custom-h{
  font-size: 64px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin-top: 15vh;
  margin-left: 5%;
}

.body {
  background-color: antiquewhite;
}

/* .fixed-width-container {
  min-width: 440px;
  max-width: 100%; 
  margin: 0 auto; 
} */


.btn-primary{
  background-color: #c81717;
}

.text-custom{
  color: #c81717;
}


.text-custom:hover{
  color: #8b0606;
}

.bg-banner {
  background-image: url("assets/car.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.my-custom {
  margin-top: 10%;
}

.img{
  width: 160px;
}

.text-red-500{
  color: #8b0606;
  padding: 5px
}

.text-green-500{
  color: #00ff15;
  padding: 5px
}

.error {

  color: #8b0606;
}

@media screen and (min-width: 200px) {
    .bg-banner {
      height: 35vh;
      background-size: cover;
      background-position: top;
    }
  }

@media screen and (min-width: 1024px) {
  .bg-banner {
    height: 50vh;
    background-size: cover;
    background-position: top;
  }
}

@media (min-width: 1024px) and (min-height: 600px ){
  .bg-banner {
    height: 140vh;
    background-size: cover;
    background-position: top;
  }
}

@media (min-width: 1280px){
  .bg-banner {
    height: 110vh;
    background-size: cover;
    background-position: top;
  }
}

@media (max-width: 768px) {
  .my-custom-h {
    font-size: 2.1rem;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 0%;
  }
}
