body{
  background-color: rgb(255, 255, 255);
}

.bg-custom{
  background-color: rgb(252, 133, 133);
}

.bg-banner {
  background-image: url("assets/car.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center; /* Center the background image */
}

.my-custom{
  margin-top: 10%;
}



.body {
  background-color: antiquewhite;
}

.btn-primary{
  background-color: #c81717;
}

.text-custom{
  color: #c81717;
}

.text-custom:hover{
  color: #8b0606;
}

.bg-banner {
  background-image: url("assets/car.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}


.my-custom {
  margin-top: 10%;
}

.img{
  width: 160px;
}

/* Adjust styles for smaller screens (mobile) */
@media (max-width: 767px) {
  .bg-banner {
    height: 50vh; /* Adjust the height for smaller screens */
    background-size: cover;
    background-position: top; /* Align the background image to the top */
  }
}
